Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Flask-Cors==4.0.1
python-dotenv==1.0.1
Werkzeug==2.3.6
Flask-Login==0.6.3
pycodestyle==2.8.0
Werkzeug==2.3.6
requests==2.31.0
pandas==2.2.2
scikit-learn==1.1.1
numpy==1.23.1
pytest==8.2.2
gunicorn==22.0.0
setuptools>=50.0.0
cython>=0.29.21
wheel>=0.36.0