.wrap {
  display: flex;
}

.left {
  margin-right: 10px;
}

.main {
  flex-grow: 1;
}

/* Navbar specific styles */
header {
  background-color: #763568;
  width: 95%;
  height: 60px;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: #a73147;
  border-radius: 20px;
}

/* Main content styles */
.App {
  display: flex;
  flex-direction: column;
  height: 94vh;
  overflow-y: auto;
  background-color: #a73147;
  padding-top: 80px; /* Increased space for the fixed header */
}

.calendar-container {
  height: calc(100vh - 120px); /* Adjusted to account for the header */
  overflow-y: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}